body{
    color: rgb(214, 95, 151);
    background-color: rgb(2, 2, 40);
    margin: 0%;
    padding-top: 4em;
}

body p {
    margin-left: 5%;
}

.navbar{
    background-color: rgb(83, 54, 91);
    color:white;
    z-index: 999;
    width:100%;
    top:0%;
    height: fit-content;
    position: fixed;
    display: flex;
    flex-direction: row;
}

.navbar p {
    margin: 0%;
    margin-left: 1%;
    align-self: center;
}

.navbar button {
    background-color: rgb(83, 54, 91);
    color:white;
    height: 0%;
    margin: 1%;
    outline-width: 5px;
}