body{
    color: rgb(214, 95, 151);
    background-color: rgb(2, 2, 40);
    margin: 0%;
    padding-top: 3em;
}

.navbar{
    background-color: rgb(83, 54, 91);
    color:white;
    z-index: 999;
    width:100%;
    top:0%;
    height: fit-content;
    position: fixed;
}